loki:
  deploymentMode: SingleBinary

  singleBinary:
    replicas: 1

  write:
    replicas: 0
  read:
    replicas: 0
  backend:
    replicas: 0

  chunksCache:
    enabled: false
  resultsCache:
    enabled: false

  test:
    enabled: false

  loki:
    auth_enabled: false
    
    commonConfig:
      replication_factor: 1
      path_prefix: /var/loki  
      
    storage:
      type: filesystem
      filesystem:
        chunks_directory: /var/loki/chunks
        rules_directory: /var/loki/rules
        
    useTestSchema: true